name: create PR
on:
  push:
    branches-ignore: main
jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: create pull request
        run: |
          gh pr create --base main --head action --title 'Merge $BRANCH into main' --body 'Created by Github action'
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BRANCH: ${{ github.ref_name }}
