name: create PR
on:
  push:
    branches-ignore: main
jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: create pull request
        run: gh pr create --base main --title 'Merge $BRANCH into main' --body 'Created by Github action'
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            BRANCH: ${{ github.ref_name }}
